@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}

.font-lustria {
  font-family: "Lustria", serif;
}

body {
  margin: 0;
  background: #020617;
  color: white;
  font-family: Inter, sans-serif;
}